<!DOCTYPE html>
<html>
<head>
	<title>Reportes por día</title>
</head>
<body>
	
	<h1>Consultar un día</h1>
	
	<form method="get">
	    Mes<input type="number" name="mes" min="1" max="12">
	    Año<input type="number" name="ano" min="2013">
	    <input type="submit" value="Consultar"/>
	</form>

	<table border="3">
		<tr>
			<th rowspan="2">Día</th>
			<th colspan="2">Motor Propulsor Babor</th>
			<th colspan="2">Motor Propulsor Estribor</th>
			{% if rmGlobal == "baruinti" or rmGlobal == "barupacifico" %}
				<th colspan="2">Motor Propulsor Bowthruster</th>
			{% endif %}
			<th colspan="2">Motor Generador Babor</th>
			<th colspan="2">Motor Generador Estribor</th>
			<th rowspan="2">Consumo Total de Combustible</th>
		</tr>
		<tr>
			<td>Consumo</td>
			<td>Horas</td>
			<td>Consumo</td>
			<td>Horas</td>
			{% if rmGlobal == "baruinti" or rmGlobal == "barupacifico" %}
				<td>Consumo</td>
				<td>Horas</td>
			{% endif %}
			<td>Consumo</td>
			<td>Horas</td>
			<td>Consumo</td>
			<td>Horas</td>
		</tr>
		{% for c in consumo %}
			<tr>
				<td></td>
				<td>{{c.0}}</td>
				<td>{{c.1}}</td>
				<td>{{c.2}}</td>
				<td>{{c.3}}</td>
				{% if rmGlobal == "baruinti" or rmGlobal == "barupacifico" %}
					<td>{{c.4}}</td>
					<td>{{c.5}}</td>
				{% endif %}
				<td>{{c.6}}</td>
				<td>{{c.7}}</td>
				<td>{{c.8}}</td>
				<td>{{c.9}}</td>
				<td>{{c.10}}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>