<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reportes por mes</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        {{rows}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="page-header">
                        <h1>
                            {{ vesselname }} - 
                            <small>
                                Reporte generado a las {{ datereporter }}
                            </small>
                        </h1>
                    </div>
                    <table id="tableexcel" class="table table-bordered">
                        <tr>
                            <th rowspan="2">Día</th>
                            <th colspan="2">Motor Propulsor Babor</th>
                            <th colspan="2">Motor Propulsor Estribor</th>
                            {% if vesselname == "Baru Inti" or vesselname == "Baru Pacifico" %}
                            <th colspan="2">Motor Propulsor Bowthruster</th>
                            {% endif %}
                            <th colspan="2">Motor Generador Babor</th>
                            <th colspan="2">Motor Generador Estribor</th>
                            <th rowspan="2">Consumo Total de Combustible</th>
                        </tr>
                        <tr>
                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>
                            {% if vesselname == "Baru Inti" or vesselname == "Baru Pacifico" %}
                            <td>Consumo</td>
                            <td>Horas</td>
                            {% endif %}
                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>
                        </tr>
                        {% for c in consumo %}
                        <tr>
                            <td>{{c.0}}</td>
                            <td>{{c.1}}</td>
                            <td>{{c.2}}</td>
                            <td>{{c.3}}</td>
                            <td>{{c.4}}</td>
                            {% if vesselname == "Baru Inti" or vesselname == "Baru Pacifico" %}
                            <td>{{c.5}}</td>
                            <td>{{c.6}}</td>
                            {% endif %}
                            <td>{{c.7}}</td>
                            <td>{{c.8}}</td>
                            <td>{{c.8}}</td>
                            <td>{{c.10}}</td>
                            <td>{{c.11}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-sm-offset-1">
                    <a href="/" class="btn btn-danger">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-0">
                    <form method="GET" action="/month" class="form-inline">
                                        <div class="form-group">
                                            <label for="vessel2">Vessel: </label>
                                            <select id="vessel2" name="vessel2" class="form-control">
                                                <option value="Baru Inti">Baru Inti</option>
                                                <option value="Baru Pacifico">Baru Pacifico</option>
                                                <option value="Vali">Vali</option>
                                                <option value="Mistral">Mistral</option>
                                            </select>
                                        
                                            <label for="year">Año: </label>
                                            <input type="number" name="year" id="year" min="2014" class="form-control"/>
                                        
                                            <label for="month">Mes: </label>
                                            <select id="month" name="month" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        
                                            <input type="submit" value="Reporte" class="form-control btn btn-info"/>
                                        </div>
                                    </form>
                </div>
                <div class="col-xs-12 col-sm-2 col-sm-offset-1">
                    <a id="btnExport" class="btn btn-success">
                        <span class="glyphicon glyphicon-download-alt"></span> Excel
                    </a>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="static/jquery.battatech.excelexport.min.js"></script>
        <script>
        $(document).ready(function () {
            $("#btnExport").click(function () {
                    $("#tableexcel").battatech_excelexport({
                        containerid: "tableexcel",
                        //datatype: $datatype.Table
                    });
                });
            });
        </script>
    </body>
</html>