<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reportes por mes</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="page-header">
                        <h1>{{vessel }} - <small>Reporte generado a las {{ datereporter }}</small></h1>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th rowspan="2">Día</th>
                            <th colspan="2">Motor Propulsor Babor</th>
                            <th colspan="2">Motor Propulsor Estribor</th>

                            <th colspan="2">Motor Propulsor Bowthruster</th>

                            <th colspan="2">Motor Generador Babor</th>
                            <th colspan="2">Motor Generador Estribor</th>
                            <th rowspan="2">Consumo Total de Combustible</th>
                        </tr>
                        <tr>
                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>

                            <td>Consumo</td>
                            <td>Horas</td>

                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>
                        </tr>

                        <tr>
                            <td>{{date}}</td>
                            <td>{{c.0}}</td>
                            <td>{{c.1}}</td>
                            <td>{{c.2}}</td>
                            <td>{{c.3}}</td>

                            <td>{{c.4}}</td>
                            <td>{{c.5}}</td>

                            <td>{{c.6}}</td>
                            <td>{{c.7}}</td>
                            <td>{{c.8}}</td>
                            <td>{{c.9}}</td>
                            <td>{{c.10}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>